$bg-header:transparent;
$main-color:#fff;
$hover-color:#F75BAB;
$drop-color:#000;
$mobile-bg:#959BFE;
$bg-color:#FFFFFF;
$text-color:#222222;
$text-second-color:#777777;
$line-color:#eee;
$box-color:rgba(212, 150, 255, 0.2);
$bg-second-color:#F9F9FF;
$hover-bg-color:#B895FE;
$button-color:rgb(117, 117, 243);
$span-color:#8a90ff;
$icon-color:#0056b3;